.card {
  @include span-columns(11);
  margin: 1rem;
  @include media($desktop) {
    margin: 2rem;
    @include span-columns(4);
    @include shift(4);
  }
  margin-top: 5rem;
}

.cardContent {
  padding: 2rem;
  text-align: center;
  form {
    text-align: left;
  }
}

.lgIcon {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.welcome {
  margin-top: 2rem;
  font-weight: normal;
  text-align: center;
}
