@import "node_modules/react-toolbox/lib/base";
@import "node_modules/react-toolbox/lib/input/config";


.dateOfBirth {
  position: relative;
  margin-left: $input-icon-size;
}

.dateOfBirthIcon {
  position: absolute;
  top: $input-icon-offset;
  left: -$input-icon-size;
  display: block;
  width: $input-icon-size;
  height: $input-icon-size;
  font-size: $input-icon-font-size !important;
  line-height: $input-icon-size !important;
  color: $input-text-label-color;
  text-align: center;
  transition: color $animation-duration $animation-curve-default;
}

.timezone {
  >div {
    display: inline-block;
    width: 65%;
  }
  button {
    margin-top: $input-padding;
    margin-left: 1rem;
    @include media($desktop) {
      margin-left: 2.3rem;
    }
    min-width: $input-icon-size;
    width: $input-icon-size;
    height: $input-icon-size;
    display: inline-block;
    >span {
      margin: auto;
    }
  }
}
