@import "node_modules/react-toolbox/lib/base";
@import "node_modules/react-toolbox/lib/input/config";


.dateOfBirth {
  position: relative;
  padding-top: $input-padding;
  margin-left: $input-icon-size;
}

.dateOfBirthIcon {
  position: absolute;
  padding-top: $input-padding;
  top: $input-icon-offset;
  left: -$input-icon-size;
  display: block;
  width: $input-icon-size;
  height: $input-icon-size;
  font-size: $input-icon-font-size !important;
  line-height: $input-icon-size !important;
  color: $input-text-label-color;
  text-align: center;
  transition: color $animation-duration $animation-curve-default;
}

.dateOfBirthError {
  margin-bottom: - $input-underline-height;
  font-size: $input-label-font-size;
  line-height: $input-underline-height;
  color: $input-text-error-color;
}

.dateOfBirthErrored {
  padding-bottom: $input-padding;
  > div > div {
    padding-bottom: 0;
    > input {
      margin-top: 1px;
      border-bottom-color: $input-text-error-color;
    }
    > label {
      color: $input-text-error-color;
    }
  }
}


.timezone {
  >div {
    display: inline-block;
    width: 70%;
  }
  button {
    margin-top: $input-padding;
    min-width: $input-icon-size;
    width: $input-icon-size;
    height: $input-icon-size;
    display: inline-block;
    >span {
      margin: auto;
    }
  }
}
